@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline; }

body {
  font-family: "Exo", sans serif; }

h1, h2, h3, h4 {
  display: flex;
  text-transform: uppercase;
  color: whitesmoke;
  user-select: none;
  font-family: 'Exo';
  word-spacing: 1px;
  letter-spacing: 1px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2E2E2E; }

.logo__img {
  height: 15vh; }

.navbar {
  display: flex;
  margin-right: 2rem; }
  .navbar ul {
    display: flex;
    align-items: center; }
    .navbar ul li {
      list-style: none; }
      .navbar ul li a {
        margin: 1rem;
        text-decoration: none;
        color: whitesmoke; }
  .navbar__user img {
    height: 2vh; }

.catalogo__head {
  background: #5C96CB;
  color: whitesmoke; }
  .catalogo__head__categorias {
    font-size: 3em; }
    .catalogo__head__categorias .categoria-activa {
      background: whitesmoke;
      color: #5C96CB;
      padding: 1rem;
      border-radius: 0 50px 0 0;
      text-transform: uppercase;
      font-weight: 900; }
    .catalogo__head__categorias .categoria-inactiva {
      color: whitesmoke;
      text-decoration: none;
      text-transform: uppercase; }

.catalogo__productos {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem; }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  padding: 2rem; }
  .banner h1 {
    font-size: 4em; }
  .banner span {
    font-size: 2em;
    margin-left: .5rem;
    font-weight: 100; }

.card__titulo {
  color: #5C96CB;
  z-index: 1;
  position: relative;
  font-size: 1.7em;
  font-weight: 700;
  margin: 1rem 0;
  margin-left: .5rem; }
  .card__titulo::after {
    content: "";
    background: #181717;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    clip-path: polygon(0 0, 100% 0, 87% 100%, 0 77%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }

.card__span {
  background: linear-gradient(180deg, #0E9FBF 0%, #0A768D 784.69%);
  font-size: 1em;
  font-weight: 600;
  color: whitesmoke;
  padding-left: 1.5rem;
  border-radius: 50px 0px 50px 0px;
  transform: rotatez(-5deg); }

.card__precio {
  font-size: 2.4em;
  color: whitesmoke;
  font-weight: 900;
  align-self: center;
  position: relative;
  z-index: 1;
  align-items: flex-end; }
  .card__precio__span {
    font-size: .3em;
    align-self: flex-end; }
  .card__precio::before {
    content: "";
    background: #2E2E2E;
    height: 110%;
    width: 110%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50px 0 50px 0;
    z-index: -1; }

.card__p {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 200; }

.card .btn-card {
  display: flex;
  text-decoration: none;
  color: #2E2E2E;
  position: relative;
  font-size: 1.6em; }
  .card .btn-card::before {
    content: "";
    background: #B1E9F0;
    width: 30%;
    height: 140%;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    transform: rotateZ(295deg);
    position: absolute;
    left: -19%;
    bottom: -5%;
    z-index: -1; }

.card {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  height: 100%;
  width: 30%;
  margin: 1rem; }
  .card__titulo {
    grid-area: 1 / 1 / 3 / 12;
    align-items: center;
    justify-content: center; }
  .card__span {
    grid-area: 1 / 11 / 2 / 13;
    z-index: 1;
    align-self: flex-start; }
  .card__img {
    grid-area: 2 / 1 / 8 / 13;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .card__precio {
    grid-area: 7 / 2 / 9 / 6; }
  .card__p {
    grid-area: 9 / 2 / 12 / 13; }
  .card .btn-card {
    grid-area: 11 / 9 / 13 / 13;
    align-self: center; }
  .card .ico-cart {
    grid-area: 12 / 2 / 13 / 4; }
  .card .ico-fav {
    grid-area: 12 / 4 / 13 / 6; }

.categoria-footer {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.categoria-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .categoria-page span {
    font-size: 2rem;
    margin: .3rem;
    font-weight: 200; }

.header__articulo {
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-rows: 10% 80%;
  grid-gap: 15px; }
  .header__articulo__H1 {
    grid-area: 1 / 1 / 2 / 3;
    font-style: italic;
    display: flex;
    color: #2E2E2E;
    font-size: 2em;
    word-spacing: 2rem;
    letter-spacing: 1rem; }
  .header__articulo__add {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    border: solid 1px #2E2E2E;
    justify-content: space-between;
    height: 50%;
    width: 100%; }
    .header__articulo__add h3 {
      color: #2E2E2E;
      font-size: 1.4em;
      align-self: center; }
    .header__articulo__add__spans {
      display: flex;
      flex-direction: column;
      font-size: 1em;
      margin: 2rem;
      font-weight: 400;
      align-self: center;
      text-transform: uppercase; }
      .header__articulo__add__spans span {
        margin: .5rem; }
    .header__articulo__add__price {
      font-size: 1em;
      display: flex;
      align-self: center;
      align-items: flex-end;
      font-weight: 200; }
      .header__articulo__add__price__usd {
        font-weight: 500;
        font-size: .4em;
        align-self: center; }
    .header__articulo__add .btn-add {
      font-size: 1.2em;
      padding: 1rem;
      background: #0E9FBF;
      color: whitesmoke;
      align-self: center;
      margin: 2rem;
      text-transform: uppercase; }
  .header__articulo__contenido {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%; }
    .header__articulo__contenido__img {
      height: 75vh;
      width: 100%;
      object-fit: cover; }
    .header__articulo__contenido__pics {
      display: flex;
      justify-content: center; }
      .header__articulo__contenido__pics img {
        height: 10vh;
        margin: 1% 1%;
        object-fit: cover; }

.main__articulo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr); }
  .main__articulo__data {
    grid-area: 1 / 1 / 13 / 8; }
    .main__articulo__data h2 {
      background: #0E9FBF;
      color: whitesmoke;
      font-size: 3em;
      justify-content: flex-start;
      padding-left: .8rem; }
    .main__articulo__data p {
      font-size: 1.3em;
      width: 80%;
      margin: 1.3rem;
      font-weight: 300;
      text-transform: uppercase; }

.footer__articulo {
  display: flex;
  flex-direction: column; }
  .footer__articulo h3 {
    font-size: 6em;
    color: #2E2E2E; }

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #2E2E2E; }
  .register__H1 {
    color: #0E9FBF;
    font-size: 3em; }
  .register__content {
    display: flex;
    flex-direction: row-reverse;
    height: 60%;
    width: 70%;
    margin: 5% 0;
    box-shadow: 11px 11px 20px black;
    border-radius: 10px;
    overflow: hidden; }
    .register__content__login, .register__content__rs {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 50%; }
    .register__content__login {
      background: whitesmoke;
      justify-content: space-between; }
      .register__content__login__form {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 4px; }
        .register__content__login__form .grid-1 {
          grid-area: 1 / 1 / 2 / 4; }
        .register__content__login__form .grid-2 {
          grid-area: 1 / 4 / 2 / 7; }
        .register__content__login__form .grid-3 {
          grid-area: 2 / 1 / 3 / 4; }
        .register__content__login__form .grid-4 {
          grid-area: 2 / 4 / 3 / 7; }
        .register__content__login__form .grid-5 {
          grid-area: 3 / 1 / 4 / 4; }
        .register__content__login__form .grid-6 {
          grid-area: 3 / 4 / 4 / 7; }
        .register__content__login__form .grid-7 {
          grid-area: 4 / 4 / 5 / 7; }
        .register__content__login__form .grid-8 {
          grid-area: 4 / 1 / 5 / 4; }
        .register__content__login__form .grid-9 {
          grid-area: 5 / 3 / 6 / 5;
          align-self: center; }
        .register__content__login__form label {
          display: none;
          font-size: 1em;
          padding: 1rem;
          font-weight: 200; }
        .register__content__login__form input {
          font-family: 'Exo', italic;
          padding: 0.5rem 1rem;
          width: 95%;
          margin: 5%;
          font-weight: 600;
          text-transform: uppercase;
          border-radius: 0 0px 0px 5px;
          color: #2E2E2E;
          background: whitesmoke;
          border: none;
          border-bottom: solid 1px #2E2E2E; }
      .register__content__login__links {
        display: flex;
        justify-content: flex-end; }
        .register__content__login__links a {
          font-size: .6em;
          margin: .3rem;
          text-decoration: none;
          color: #0E9FBF;
          text-transform: uppercase;
          padding: .4rem 1rem;
          border-radius: 5px; }
    .register__content__rs {
      background: url(../media/background.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
      .register__content__rs span {
        color: whitesmoke; }

.redesLogin {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: center; }

.btn-login {
  color: #0E9FBF;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .7em;
  padding: .5rem 1rem;
  margin-top: 1rem;
  border-radius: 10%;
  border-bottom: solid 1px #5C96CB;
  text-align: center;
  text-decoration: none; }
  .btn-login:hover {
    background: #0E9FBF;
    color: whitesmoke;
    transition: .9s;
    border-bottom: solid 1px whitesmoke; }

.volver {
  color: whitesmoke; }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #2E2E2E; }
  .login__H1 {
    color: #2E2E2E;
    font-size: 2em; }
  .login__content {
    display: flex;
    flex-direction: row-reverse;
    height: 40%;
    width: 50%;
    margin: 5% 0;
    box-shadow: 11px 11px 20px black;
    border-radius: 10px;
    overflow: hidden; }
    .login__content__login, .login__content__rs {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      width: 50%; }
    .login__content__login {
      background: whitesmoke;
      justify-content: space-between;
      border-radius: 5px; }
      .login__content__login__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10%; }
        .login__content__login__form label {
          display: none;
          font-size: 1em;
          padding: .5rem;
          font-weight: 200; }
      .login__content__login__links {
        display: flex;
        justify-content: flex-end; }
        .login__content__login__links a {
          font-family: exo, italic;
          font-size: .6em;
          margin: .3rem;
          text-decoration: none;
          color: #0E9FBF;
          text-transform: uppercase;
          padding: .4rem 1rem;
          border-radius: 5px;
          font-weight: 600; }
    .login__content__rs {
      background: url(../media/background.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
      .login__content__rs span {
        color: whitesmoke; }
      .login__content__rs .redesLogin {
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center; }

.input-login {
  font-family: 'Exo', italic;
  padding: 0.5rem 1rem;
  width: 95%;
  margin: 5%;
  font-weight: 500;
  border: none;
  border-bottom: solid 1px #5C96CB;
  border-radius: 5px 0px 5px 0px;
  border-left: solid 5px #5C96CB;
  color: #2E2E2E;
  background: whitesmoke; }

.slideshow-container {
  grid-area: 4 / 1 / 5 / 7;
  justify-self: center;
  z-index: 3; }

.mySlides img {
  z-index: 4;
  height: 5vh; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade .3s linear; }

.header-index {
  background-color: #2E2E2E;
  background-image: url(../media/background.jpg);
  background-size: cover; }
  .header-index::after {
    content: "";
    grid-area: 1/ 1 / 5 / 5;
    background: linear-gradient(0deg, #181717 0%, rgba(24, 23, 23, 0) 100%);
    width: 100%;
    height: 100%;
    z-index: 0; }

.intro__section p {
  width: 60%; }

.main {
  height: auto;
  justify-content: center; }
