///////foooter
.categoria-footer
    display: flex
    flex-direction: column
    justify-content: center
.categoria-page
    display: flex
    justify-content: center
    align-items: center
    color: $white
    background: $black
    margin: 1rem 15rem
    border-radius: 5px
    .letter
        font-size: .9rem
        margin: 1rem
    .active
        color: $blueCyan
    span
        font-size: 2rem
        margin: .3rem
        font-weight: 200
/// articulo

// ASIDEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
