///////foooter
.categoria-footer
    display: flex
    flex-direction: column
    justify-content: center
.categoria-page
    display: flex
    justify-content: center
    align-items: center
    color: $white
    background: $black
    margin: 1rem 15rem
    border-radius: 5px
    .letter
        font-size: .9rem
        padding: 1rem
        margin: 1rem
        border-radius: 5px
        cursor: pointer
        &:hover
            background: $blueCyan
    .active
        background: $blueCyan
    span
        font-size: 2rem
        margin: .3rem
        font-weight: 200
/// articulo

.arrow-left
    &::before
        content: "<" 
.arrow-right
    &::before
        content: ">"
.arrow-left, .arrow-right
    &::before
        font-size: 1.9rem
        padding: 1rem
        margin: 1rem
        border-radius: 5px
        cursor: pointer
    &:hover::before
        background: $blueCyan