.login
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    background: $black
    &__H1
        color: $white
        font-size: 3em
    &__content
        display: flex
        flex-direction: row-reverse
        height: 30%
        width: 50%
        margin: 5% 0
        box-shadow: 11px 11px 20px black
        border-radius: 10px
        overflow: hidden
        &__login, &__rs
            display: flex
            flex-direction: column
            padding: 1rem
            width: 50%
        &__login
            background: $white
            justify-content: space-between
            &__form
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-between
                margin-bottom: 60%
                label
                    font-size: 1em
                    padding: .5rem
                    font-weight: 200
                input
                    padding: .2rem
            &__links
                display: flex
                justify-content: flex-end
                a
                    font-size: .6em
                    margin: .3rem
                    text-decoration: none
                    color: $white
                    background: $blueLight
                    text-transform: uppercase
                    padding: .4rem 1rem
        &__rs
            background: url(../media/background.jpg)
            background-size: cover
            background-repeat: no-repeat
            span
                color: $white
            .redesLogin
                display: flex
.btn-login
    background: $black
    color: $blueLight
    font-weight: 700
    text-transform: uppercase
    font-size: .7em
    padding: .5rem 1rem
    margin-top: 1rem
    border-radius: 10%
.volver
    color: $white
