$pagos: paypal coinpayments
@each $sapo in $pagos
    .ico-#{$sapo}
        display: flex
        background-image: url(../media/icons/#{$sapo}.svg)
        background-size: contain
        background-repeat: no-repeat
        height: 70px
        width: 140px
$redes: gl fb
@each $i in $redes
    .#{$i}-login
        display: flex
        width: 100%
        align-self: center
        align-items: center
        &__span
            font-size: 1em
            color: $black
            margin-left: 3%