.slideshow-container
    grid-area: 4 / 1 / 5 / 7
    justify-self: center
    z-index: 3
.mySlides img
    z-index: 4
    height: 5vh
.fade 
  -webkit-animation-name: fade
  -webkit-animation-duration: 2s
  animation-name: fade .3s linear


