.articulo__container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: 100% 2fr
.aside
    grid-area: 1 / 3 / 2 / 4
    border-left: solid 5px $blue
    border-radius: 5% 0% 0% 3%
    height: 100%
    padding: 1rem
    &__articulo
        &__mediosDePago
            margin: 1rem
            display: flex
            justify-content: space-between
            justify-items: center
        &__H1
            font-style: italic
            display: flex
            color: $black
            font-size: 3em
            letter-spacing: .5rem
        &__H2
            display: flex
            font-size: 1.4rem
            font-style: italic
            color: $blue
            word-spacing: .2rem
            letter-spacing: .9rem
            align-self: flex-start
            font-weight: 300
            border-radius: 0px 0px 15px 0px
            border-bottom: solid 5px $blue
            padding: 0 .5rem
            margin: 1rem
        &__add
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 100%
            &__spans
                display: flex
                flex-direction: column
                font-size: 1em
                font-weight: 400
                align-self: flex-start
                text-transform: uppercase
                span
                    font-size: .9rem
                    padding: .4rem
                    color: $black
                    margin: 0 .2rem
                    border-radius: 30px 0 10px 30px
                    align-self: flex-start

            &__shop
                display: flex
                justify-content: space-between
$pagos: paypal coinpayments
@each $sapo in $pagos
    .ico-#{$sapo}
        display: flex
        background-image: url(../media/icons/#{$sapo}.svg)
        background-size: contain
        background-repeat: no-repeat
        height: 70px
        width: 140px
        margin: 1rem 2rem
///////////////////// MAIIIIN ///////////////
.main__articulo
    grid-area: 1 / 1 / 2 / 3
    &__price
        display: flex
        font-weight: 500
        justify-content: center
        margin: .7rem 0
        padding: .1rem 1rem
        position: absolute
        right: 40%
        top: 50%
        width: 25%
        border-radius: 50px 1px 50px 1px
        background: $black
        .precioFinal
            font-size: 1em
            text-transform: uppercase
            color: $white
            align-self: center
            margin: 0 1rem
            font-weight: 200
        &__n
            display: flex
            font-size: 1.3em
            align-self: flex-start
            letter-spacing: .2rem
            font-weight: 700
            color: $white
        &__usd
            display: flex
            font-weight: 500
            font-size: .7em
            align-self: flex-end
            margin-bottom: .2rem
            color: $white
    &__cat
        &-a
            color: $blue
            margin: 1rem
    &__contenido
        width: 100%
        &__img
            height: 600px
            width: 100%
            object-fit: contain
        &__pics 
            display: flex
            justify-content: space-evenly
            img
                height: 55px
                margin: 1% 1%
                object-fit: contain
                cursor: pointer
.footer__articulo
    grid-area: 2 / 1 / 3 / 4
    display: flex
    flex-direction: column
    width: 100%
    &__data
        &__H2
            text-transform: uppercase
            font-size: 6rem
            font-weight: 100
            font-style: italic
            letter-spacing: .1rem
            word-spacing: .2rem
            color: $blackBold
            padding: .2rem .5rem
            margin: 1%
            width: 90%
            margin-top: 10%
        &__p
            font-size: 1.3em
            width: 80%   
            margin: 3%
            font-weight: 300
            border-radius: 10px 0 10px 0px
            letter-spacing: .3rem
            line-height: 2.5rem
.price
    display: flex
    align-self: flex-start
    align-items: flex-start
    font-weight: 500
    padding: .1rem 1rem
    background: $black
    margin-left: 5%
    &__n
        font-size: 1.3em
        color: $white
    &__usd
        display: flex
        font-weight: 200
        font-size: .6em
        align-self: center
        justify-content: center
        color: $white
        margin-right: .6rem
.contenedor-flex-row
    display: flex
    flex-direction: row
.btn-add
    font-size: 1.2em
    padding: 1rem 3rem 1rem 1rem
    background: $black
    color: $white
    align-self: center
    margin: 2rem 0
    text-transform: uppercase
    transition: background .7s
    &:hover
        background: $blueLight
        filter: drop-shadow(0 0 3px $blueLight)
.fa-star
    color: $black
    font-size: 1.8rem
    margin-right: 15%
    &:hover
        color: $blueLight
        filter: drop-shadow(0 0 3px $blueLight)
.fa-calendar, .fa-truck, .fa-shield-alt
    font-size: .9rem
    color: $black
    padding: 1rem
    align-self: center
.fa-caret-square-right
    font-weight: 100
    align-self: center
    color: $blueLight