.catalogo
    &__head
        background: $black
        color: $white
        height: 100%
        &__categorias
            font-size: 3em
            .categoria-activa
                background: $white
                color: $black
                padding: 1rem
                border-radius: 0 50px 0 0
                text-transform: uppercase
                font-weight: 100
            .categoria-inactiva
                color: $white
                text-decoration: none
                text-transform: uppercase
                font-weight: 100
    &__productos
        display: flex
        flex-wrap: wrap
        padding: 2rem
.banner
    display: flex
    flex-direction: column
    justify-content: center
    height: 40vh
    padding: 2rem
    h1
        font-size: 4em
    span
        font-size: 2em
        margin-left: .5rem
        font-weight: 100